<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>  Home</title> <!-- <%= title %> -->
</head>

<body>
    <h1><%= foo %></h1>
    <nav>
        <ul>
            <li><a href="http://localhost:3001/login">Login</a></li>
            <li><a href="http://localhost:3001/home">Home</a></li>
            <li><a href="http://localhost:3001/change">Change your role!</a></li>
            <!-- <li>Admin</li> possibile solo x lui? -->
        </ul>
    </nav>
    <h2>Hello word</h2>
    <p id="currentTime" hidden>Solo x Thomas/admin</p>

    <!-- <script src="./myServer.js"></script> -->

</body>

</html>